<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration Form</title>

    <!-- load angular: check back with main.js static resource directory -->
    <script src="/lib/angular/angular.js"></script>

    <!-- load jquery: check back with main.js static resource directory -->
    <script src="/lib/jquery/dist/jquery.js"></script>

    <!-- load moment.js CDNJS to validate age -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>

    <!-- load bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- try themes from: https://startbootstrap.com/-->
    <!-- <link rel="stylesheet" type="text/css" href="theme.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="theme2.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="theme3.css"> -->
    <link rel="stylesheet" type="text/css" href="theme4.css">

    <!-- load my app: check back with main.js static resource directory -->
    <script src="/index.js"></script>

</head>

<body>
    <div class="container">
        <h1>User Registration Form</h1>
        <div class="row">
            <div class="col-md-12">
                <form name="registerForm" action="" method="post" role="form" novalidate ng-submit="registerCtrl.submit()">
                    <legend>Please complete all fills below.</legend>

                    <!-- Validation using ng-class ; make sure that formName and fieldName is correct -->
                    <div class="form-group" ng-class="{ 'has-error': registerForm.name.$invalid && registerForm.name.$dirty }">
                        <label for="name-id">Name</label>
                        <input type="text" class="form-control" name="name" id="name-id" placeholder="Name as in NRIC" ng-model="registerCtrl.name"
                            required>
                        <span class="help-block" ng-if="registerForm.name.$invalid && registerForm.name.$dirty">
						Please enter your name
					    </span>
                    </div>



                    <div class="form-group">
                        <label for="gender-id">Gender</label>
                        <div id="gender-id">
                            <!-- Note that for radio-inline, the name MUST be the same for all options -->
                            <label class="radio-inline">
                        <input type="radio" name="gender" id="gender-male" value="male"
                        ng-model="registerCtrl.gender"> 
                        Male
                    </label>
                            <label class="radio-inline">
                        <input type="radio" name="gender" id="gender-female" value="female"
                        ng-model="registerCtrl.gender"> 
                        Female
                    </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="dob-id">Date of Birth</label>
                        <input type="date" class="form-control" name="dob" id="dob-id" ng-model="registerCtrl.dob" required>                       
                         {{registerCtrl.DOBmessage}}
                    </div>


                    <!-- Validation using ng-class ; make sure that formName and fieldName is correct -->
                    <div class="form-group" ng-class="{ 'has-error': registerForm.address.$invalid && registerForm.address.$dirty }">
                        <label for="address-id">Address</label>
                        <input type="text" class="form-control" name="address" id="address-id" placeholder="Mailing Address" ng-model="registerCtrl.address"
                            required>
                        <span class="help-block" ng-if="registerForm.address.$invalid && registerForm.address.$dirty">
						Please enter your mailing address
					    </span>
                    </div>



                    <!-- getting country array for dropdown list from main.js -->
                    <!-- using ng-repeat so that values can just be retrieved from country array in main.js -->
                    <div class="form-group">
                        <label for="country-id">Country You Reside In</label>
                        <br>
                        <select name="country_list" ng-model="registerCtrl.country" required>
						<option ng-repeat="i in registerCtrl.country" value="{{ i }}">
						</option>
					    </select>
                    </div>

                    <!-- Validation using pattern from http://regexr.com/ ; make sure that instanceName and formName are correct -->
                    <div class="form-group" ng-class="{ 'has-error': registerForm.phone.$invalid && registerForm.phone.$dirty }">
                        <label for="phone-id">Phone Number</label>
                        <input type="tel" class="form-control" name="phone" id="phone-id" pattern="^\+?\(([0-9]{2})\)\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$"
                            placeholder="e.g., +(65)-XXXX-XXXX" ng-model="registerCtrl.phone" required>
                        <span class="help-block" ng-if="registerForm.phone.$invalid && registerForm.phone.$dirty">
								Please enter a valid phone number in this format +(65)-XXXX-XXXX
					    </span>
                    </div>


                    <!-- Validation using ng-class ; make sure that instanceName and formName are correct -->
                    <div class="form-group" ng-class="{ 'has-error': registerForm.email.$invalid && registerForm.email.$dirty }">
                        <label for="email-id">Email</label>
                        <input type="email" class="form-control" name="email" id="email-id" placeholder="hi@email.com" autocomplete="on" ng-model="registerCtrl.email"
                            required>
                        <span class="help-block" ng-if="registerForm.email.$invalid && registerForm.email.$dirty">
								Please enter a valid email
					    </span>
                    </div>


                    <div class="form-group">
                        <label for="password-id">Password</label>
                        <input type="password" class="form-control" name="password" id="password-id" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$#@]).{8,}"
                            ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$dirty }" placeholder="Password must be at least 8 characters including uppercase, lowercase, numerical digit, and contain at least one of these special characters @, #, $"
                            ng-model="registerCtrl.password" required>
                        <span class="help-block" ng-if="registerForm.password.$invalid && registerForm.password.$dirty">
                                Password must be at least 8 characters including uppercase, lowercase, numerical digit, and contain at least one of these special characters @, #, $ 
					    </span>
                        <span class="help-block" ng-if="registerForm.password.$valid && registerForm.password.$dirty">
								Password Strength: Good 
					</span>
                    </div>

                    <!-- Validation: ng-disabled to disable submit button / don't need to link back to js / just make sure FormName is correct -->
                    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">
                        Submit
                    </button>


                    <!-- Display status message for user to view -->
                    {{ registerCtrl.message }}
                </form>



            </div>
            <!-- end of col-md-12 -->
        </div>
        <!-- end of row 1 -->
    </div>
    <!-- end of container -->

</body>

</html>